<!DOCTYPE html>
<html lang="en">
{% include 'header.html' %}
<body>
<div id="segment_id">
    {% include 'menu.html' %}
    <div class="ui grid">
        <div class="ui column" style="width: 75px; padding-top: 50px;">
            {% include 'project/sidebar.html' %}
        </div>
        <script>
            $(document).ready(function () {
                $('.message .close')
                    .on('click', function () {
                        $(this)
                            .closest('.message')
                            .transition('fade')
                        ;
                    });
                $('#rules_list').dropdown();
            });
        </script>
        <div class="ui column" style="width: calc(100% - 75px)">
            <h1 class="ui dividing header">Advanced Port/IP Scanners</h1>
            <div class="ui container" style="width: 100%">
                <div class="ui relaxed divided items">
                    <div class="item">
                        <div class="ui small image">
                            {% if external_img %}
                                <img src="https://i.ibb.co/M8PW8KM/advanced-port-scanner.png">
                            {% else %}
                                <img src="/static/images/advanced_port_scanner.png">
                            {% endif %}
                        </div>
                        <div class="content">
                            <a class="header">Advanced Port Scanner</a>
                            <div class="meta">
                                <a>Port scanner</a>
                                <a>Vulnerability scanner</a>
                            </div>
                            <div class="description">
                                Advanced Port Scanner is a free network scanner allowing you to quickly find open ports
                                on network computers and retrieve versions of programs running on the detected ports.
                                The program has a user-friendly interface and rich functionality.
                            </div>
                            <div class="extra">
                                <a href="https://www.advanced-port-scanner.com/" class="ui right floated purple button"
                                   target="_blank" rel="noopener noreferrer">
                                    Official site
                                    <i class="right chevron icon"></i>
                                </a>
                                <div class="ui label">Free software</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui divider"></div>
                <div class="ui relaxed divided items">
                    <div class="item">
                        <div class="ui small image">
                            {% if external_img %}
                                <img src="https://i.ibb.co/bWFJ6Qk/advanced-ip-scanner.png">
                            {% else %}
                                <img src="/static/images/advanced_ip_scanner.png">
                            {% endif %}
                        </div>
                        <div class="content">
                            <a class="header">Advanced IP Scanner</a>
                            <div class="meta">
                                <a>Port scanner</a>
                                <a>Vulnerability scanner</a>
                            </div>
                            <div class="description">
                                Reliable and free network scanner to analyze LAN. The program shows all network devices,
                                gives you access to shared folders, provides remote control of computers (via RDP and
                                Radmin), and can even remotely switch computers off. It is easy to use and runs as a
                                portable edition. It should be the first choice for every network admin.
                            </div>
                            <div class="extra">
                                <a href="https://www.advanced-ip-scanner.com/" class="ui right floated purple button"
                                   target="_blank" rel="noopener noreferrer">
                                    Official site
                                    <i class="right chevron icon"></i>
                                </a>
                                <div class="ui label">Free software</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui divider"></div>
                <h2 class="ui header">Upload reports</h2>
                <form class="ui form" enctype="multipart/form-data" method="post"
                      action="/project/{{ current_project['id'] }}/tools/advanced_port_scanner/">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <div class="two fields">
                        <div class="ui field">
                            <label>XML-reports:</label>
                            <input type="file" name="files" placeholder="" multiple accept=".xml">
                        </div>
                        <div class="ui field">
                            <label>Hosts description:</label>
                            <input type="text" name="hosts_description" placeholder="Added from Advanced Port Scanner"
                                   value="Added from Advanced Port Scanner">
                        </div>
                    </div>
                    <div class="two fields">
                        <div class="ui field">
                            <label>Ignore ports:</label>
                            <input type="text" name="ignore_ports" placeholder="554, 7070, 53, 22">
                        </div>
                        <div class="ui field">
                            <div class="ui field">
                                <label>Hostnames description:</label>
                                <input type="text" name="hostnames_description"
                                       placeholder="Added from Advanced Port Scanner"
                                       value="Added from Advanced Port Scanner">
                            </div>
                        </div>
                    </div>
                    <div class="two fields">
                        <div class="ui field">
                            <button type="submit" class="ui button blue"><i class="plus icon"></i>Submit</button>
                        </div>
                        <div class="ui field">
                            <div class="ui checkbox" style="margin-top: 10px;">
                                <input type="checkbox" name="add_no_open" value="1">
                                <label>Add hosts without open ports.</label>
                            </div>
                        </div>
                    </div>
                </form>
                {% if errors is defined and errors %}
                    <div class="ui error message visible">
                        <i class="close icon"></i>
                        <div class="header">
                            There were some errors with host
                        </div>
                        <ul class="list">
                            {% for error in errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% elif errors is defined and not errors %}
                    <div class="ui success message visible">
                        <i class="close icon"></i>
                        <div class="header">
                            Successfully uploaded!
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
        {% include 'footer.html' %}
    </div>
</div>
</body>
</html>